/build
build-eclipse
.arc_jira_lib
.classpath*
.externalToolBuilders
.project
.settings
*.launch
*~
metastore_db

/contrib/TempStatsStore/
/contrib/derby.log
/ql/TempStatsStore/
/ql/TestSerDe.jar
/ql/derby.log
/ql/hive-builtins-0.9.0*.jar

hbase-handler/junit*.properties
hbase-handler/TempStatsStore/
/hbase-handler/build/
.broken.rcfile.crc
broken.rcfile
/ql/build/
/serde/build/

